---
layout: default
---

<div class="home">

  <h1 class="page-heading">About</h1>
  Welcome to the lab page for Stephen A. Smith's lab at the University of Michigan, Ann Arbor. You can find out more information about the people in the lab here and the projects here. A lot of the research in the lab focuses on plant evolution, detecting and describing large scale patterns of evolution, examining differences in the rate of molecular evolution, and using new data sources like transcriptomes and genomes to address these questions. A great deal of this involves the development of new methods and new computational tools. My faculty page is <a href"https://lsa.umich.edu/eeb/people/faculty/eebsmith.html">here</a>. 

  <br>
  <br>

  <h1 class="page-heading">Lab updates</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts limit 8 %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <!--<p>{{ post.excerpt }}</p>-->
        <div class="wrapper">
            {{ post.content }}
        </div>
        <!--{{ post.content | strip_html | truncatewords:75}}<br>
        <a href="{{ post.url }}">Read more...</a>-->
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
